<a data-ui-sref="venueIndex">Venues</a>

<div>
<p><a href="#" ng-click="vm.hide = !vm.hide">Edit</a></p>

<p id="venueName">{{vm.venue.name}}</p>


<p ng-repeat="team in vm.teams | filter : {'id' : vm.venue.team_id , 'venue_id' : vm.venue.id}" ng-if="$first">
  <a id="teamName" data-ui-sref="teamShow({id: team.id})"> {{team.name}} </a>
</p>

<p>{{vm.venue.location}}</p>
<p>{{vm.venue.description}}</p>
<img src="{{vm.venue.photo_url}}">

<div ng-show="vm.hide">
<form>
 <p>Venue Name</p>
  <input value="vm.venue.name"  data-ng-model="vm.venue.name" />
  <p>Location</p>
  <input value="vm.venue.location"  data-ng-model="vm.venue.location" />
  <p>Description</p>
  <input value="vm.venue.description"  data-ng-model="vm.venue.description" />
  <p>Photo URL</p>
  <input value="vm.venue.photo_url"  data-ng-model="vm.venue.photo_url" />
  <button type="button" data-ng-click="vm.update()">Edit</button>
  <button data-ng-click="vm.destroy()">Delete</button>
</form>
</div>

</div>

<button id="venueButton">Show Games!</button>
<div id="venueEvents">
  
</div>

<script type="text/javascript" src="js/tickets.js"></script>