

<div>
<p><a href="#" ng-click="vm.hide = !vm.hide"">Edit</a></p>

<div class="teamShow">
	<p id="city">{{vm.team.city}}</p>
  <p id="name">{{vm.team.name}}</p>
  <p>{{vm.team.sport}}</p>

	<p ng-repeat="venue in vm.venues | filter : {'id' : vm.team.venue_id , 'team_id' : vm.team.id}" ng-if="$first">
	  <a data-ui-sref="venueShow({id: venue.id})"> {{venue.name}} </a>
	</p>
</div>

  <img class="teamImg" src="{{vm.team.logo_url}}">

<div ng-show="vm.hide">
<form>
 <p>Team Name</p>
  <input value="vm.team.name"  data-ng-model="vm.team.name" />
  <p>City</p>
  <input value="vm.team.city"  data-ng-model="vm.team.city" />
  <p>Sport</p>
  <input value="vm.team.sport"  data-ng-model="vm.team.sport" />
  <p>Logo URL</p>
  <input value="vm.team.logo_url"  data-ng-model="vm.team.logo_url" />
  <button type="button" data-ng-click="vm.update()">Edit</button>
  <button data-ng-click="vm.destroy()">Delete</button>
</form>
</div>
  <div id="ticketsShow">

  </div>

</div>
<script type="text/javascript" src="js/tickets.js"></script>
