body {
    font: 400 15px/1.8 Lato, sans-serif;
    color: #777;
}
h3, h4 {
    margin: 10px 0 30px 0;
    letter-spacing: 10px;
    font-size: 35px;
    color: #111;
}
.container {
    padding: 80px 120px;
}
#logo{
    width:60px;
    margin-top:-20px;
}
#logo:hover{
    opacity: 0.5;
}
.person {
    border: 10px solid transparent;
    margin-bottom: 25px;
    width: 80%;
    height: 80%;
    opacity: 0.7;
}
.person:hover {
    border-color: #f1f1f1;
}
img.img-circle.person {
  width: 100%;
  border-radius: 0px;
}
#baseball {
  height: 160px;
}
#basketball {
  height: 260px;
  width: 78%;
}
.carousel-inner img {
    /*-webkit-filter: grayscale(90%);*/
    /*filter: grayscale(90%); /* make all photos black and white */
    width: 100%; /* Set width to 100% */
    margin: auto;
}

.carousel-caption h3 {
    color: #fff !important;
}
@media (max-width: 600px) {
  .carousel-caption {
    display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
  }
}
.list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.nav-tabs li a {
    color: #777;
}
#googleMap {
    width: 100%;
    height: 400px;
    /*-webkit-filter: grayscale(100%);
    filter: grayscale(100%);*/
}
.navbar {
    font-family: Montserrat, sans-serif;
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity: 0.9;
}
.navbar li a, .navbar .navbar-brand {
    color: #d5d5d5 !important;
}
.navbar-nav li a:hover {
    color: #fff !important;
}
.navbar-nav li.active a {
    color: #fff !important;
    background-color: #29292c !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
}

#myNavbar a {
  font-size: 14px;
}
.open .dropdown-toggle {
    color: #fff;
    background-color: #555 !important;
}
.dropdown-menu li a {
    color: #000 !important;
}
.dropdown-menu li a:hover {
    background-color: red !important;
}
footer {
    background-color: #2d2d30;
    color: #f5f5f5;
    padding: 32px;
}
footer a {
    color: #f5f5f5;
}
footer a:hover {
    color: #777;
    text-decoration: none;
}
img{
	width:200px;
}
.events{
    border: 1px solid black;
    margin: 3px;
    box-shadow: 0px 0px 4px black;
    border-radius: 15px;
}
.events:hover{
    background: rgb(240,240,240);
}
div.teamInfo{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
}
.teamInfo > div.teams{
    width: 30%;
    margin: 10px;
    padding: 5px;
    box-shadow: 0px 0px 5px;
}
div.teams img{
    width:100%;
}
#weatherReport{
    width: 130%;
    overflow: scroll;
    z-index: 5;
    margin: 5px -13%;
    display: flex;
    justify-content: center;
}
.weatherDays{
    margin: 5px 10px 0 10px;
    width: 55px;
    font-size: 90%;
}

div .teamShow {
  color: steelblue;
}

.teamImg {
  margin: 50px;
}

div .venueShow {
    color: steelblue;
    box-shadow: 0px 0px 5px;
    border-radius: 10px;
    padding: 9px;
}
#venueImg{
    width: 100%;
    border-radius: 20px;
    margin: 10px auto 15px auto;
    box-shadow: 0px 0px 5px black;
}
.venueContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
#desc{
    color:black;
}
.allStadiums > img{
    width: 250px;
    border-radius: 30px;
}
#city,#name{
    font-size: 140%;
}

div .profileContainer {
  display: flex;
  width: 110%;
  height: 378px;
  margin: 0px 12px 0px -30px;
}

.profilePage {
    width: 50%;
    height: 423px;
    margin: 13px;
    border: 1px solid black;
    border-radius: 83px;
}

.profilePage img {
  width: 55%;
}

.profilePage p {
  font-family: 'Fredericka the Great', cursive;
  font-size: 121%;
}

main p {
  font-size: 17px;
}
