
  <h3>Welcome to Sports</h3>
  <p><em>We love sports!</em></p>
  <p>Welcome to our sports website. You will find the list of all sport teams, venues and associated events in this app. You can easily see a ten days weather forecast in our website in accordance with the venue locations. Enjoy!</p>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <p class="text-center"><strong>Baseball</strong></p><br>
      <a ng-click="vm.sportLoad('Baseball')" ui-sref="teamIndex" data-toggle="collapse">
        <img id="baseball" src="http://content.sportslogos.net/logos/4/490/full/1986.gif" class="img-circle person" alt="Random Name" width="255" height="255">
      </a>
    </div>
    <div class="col-sm-4">
      <p class="text-center"><strong>Soccer</strong></p><br>
      <a ng-click="vm.sportLoad('Soccer')" ui-sref="teamIndex" data-toggle="collapse">
        <img src="http://content.sportslogos.net/logos/9/1029/full/8653__major_league_soccer-primary-2015.png" class="img-circle person" alt="Random Name" width="255" height="255">
      </a>
    </div>
    <div class="col-sm-4">
      <p class="text-center"><strong>Basketball</strong></p><br>
      <a ng-click="vm.sportLoad('Basketball')" ui-sref="teamIndex" data-toggle="collapse">
        <img id="basketball" src="https://stat.profile.ameba.jp/profile_images/20150618/23/50/YK/j/o073607241434639185094.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <p class="text-center"><strong>Football</strong></p><br>
      <a ng-click="vm.sportLoad('Football')" ui-sref="teamIndex" data-toggle="collapse">
        <img src="http://content.sportslogos.net/logos/7/1007/full/dwuw5lojnwsj12vfe0hfa6z47.gif" class="img-circle person" alt="Random Name" width="255" height="255">
      </a>
    </div>
    <div class="col-sm-4">
      <p class="text-center"><strong>Hockey</strong></p><br>
      <a ng-click="vm.sportLoad('Hockey')" ui-sref="teamIndex" data-toggle="collapse">
        <img src="http://content.sportslogos.net/logos/1/491/full/wkue6hfkzqs2bnl0efw8sihf7.png" class="img-circle person" alt="Random Name" width="255" height="255">
      </a>
    </div>
  </div>
